<html>
<head>
  <link rel="stylesheet" href="{{url_for('static',filename='calc.css')}}">
  <title>Calculator</title>
</head>

<body>
  <a href="/" class="back">Back</a>
  <div class="main">
    <p class="sign" align="center">Calculator</p>
    <form class="form1" action="{{url_for('calc')}}" method="POST">
      <input  id ='number1' name ='number1' class="un " type="number" align="center" placeholder="Enter First Number">
      <input id='number2' name='number2' class="pass" type="number" align="center" placeholder="Enter Second Number">
    </br>
      <input id='operator' name='operator' class="radio" type='radio' align="center" value="+">+
      <input id='operator' name='operator' class="radio" type='radio' align="center" value="-">-
      <input id='operator' name='operator' class="radio" type='radio' align="center" value="*">x
      <input id='operator' name='operator' class="radio" type='radio' align="center" value="/">/
    </br> </br>
      <input type="submit" class="answer" value="=">
     
         
    </div>
     
</body>
</html>